
<nav class="navbar navbar-expand-lg navbar-cps">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">
      <img src="./assets/img/logos/fatec-logo.svg" alt="Fatec" height="28" class="me-2">
      Fatec • Centro Paula Souza
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNav">
      <li class="nav-item dropdown-accordion">
  <button
    class="nav-link accordion-toggle"
    id="cadastrosAccordionBtn"
    aria-expanded="false"
    aria-controls="cadastrosAccordion"
  >
    Cadastros
  </button>

  <div class="accordion-content" id="cadastrosAccordion">
    <a href="#" class="accordion-link" data-route="cad-professor">Cadastro de Professor</a>
    <a href="#" class="accordion-link" data-route="cad-disciplina">Cadastro de Disciplina</a>
    <a href="#" class="accordion-link" data-route="cad-curso">Cadastro de Curso</a>
    <a href="#" class="accordion-link" data-route="cad-turma">Cadastro de Turma</a>
    <a href="#" class="accordion-link" data-route="cad-sala">Cadastro de Sala</a>
  </div>
</li>


      <div class="d-flex align-items-center" id="user-area">
        <!-- Antes do login: botão Entrar -->
        <!-- Depois do login: Nome Usuário | Nome Unidade -->
      </div>
    </div>
  </div>
</nav>
